
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    color:hsl(229, 6%, 66%);
  }
  html,body,.bg{
    height: 992px;
  }

  .bg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container{
    margin: 20px;
    position: relative;
    max-width: 1140px;
    max-height: 570px;
    width: 100%;
    height: 100%;

  }

  .card{
    position: absolute;
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 240px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top: 3px solid;
  }

  .left{
    top:165px;
    left: 0px;
    border-color: hsl(180, 62%, 55%);
  }
  .top{
    top:20px;
    left: 390px;
    border-color: hsl(0, 78%, 62%);
  }

  .right{
    top:165px;
    right: 0px;
    border-color: hsl(34, 97%, 64%)
  }

  .bottom{
    bottom:20px;
    left: 390px;
    border-color: hsl(212, 86%, 64%);
  }

  #simple{
    margin-top: 80px;
    font-weight: 200;
    color:hsl(234, 12%, 34%);
    font-size: 37px;
  }

  #bold{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
    font-size: 37px;
  }

  p{
    font-size: 15px;
    font-weight: 400;

  }

  .bg>p{
    margin: 10px 0px;
    width: 500px;
    text-align: center;
  }

  h2{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
  }

  .imageBox{
    position: relative;
    height: 118px;
  }

  .images{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media screen and (max-width:1180px) {
    .container{
      max-width: 1024px;
    }
    .card{
      width:32%;
    }
    .top,.bottom{
      left:347px;
    }
  }
  @media screen and (max-width:1080px) {
    .container{
      max-width: 980px;
    }

    .top,.bottom{
      left:338px;
    }
  }
  @media screen and (max-width:1024px){
    
    .container{
      max-width: 950px;
    
    }

    .top,.bottom{
      left:322px;
    }
    
  }
  @media screen and (max-width:980px){

    .container{
      max-width: 920px;
    }

    .top,.bottom{
      left:316px;
    }
    .imageBox{
      height: 90px;
    }
  }
  @media screen and (max-width:930px){
    .container{
      max-width: 830px;
    }
    .top,.bottom{
      left:282px;
    }
  }
  @media screen and (max-width:845px){
    .container{
      max-width: 750px;
    }
    .top,.bottom{
      left:254px;
    }

  }
  @media screen and (max-width:750px){
    .container{
      max-width: 640px;
    }
    .top,.bottom{
      left:219px;
    }
  }
  @media screen and (max-width:650px){
    .container{
      max-width: 560px;
    }
    h2{
      font-size: 20px;
    }
    .top,.bottom{
      left:190px;
    }
     .card>p{
      font-size: 13px;
     }
    }
    @media screen and (max-width:570px){
      #simple,#bold{
        font-size: 32px;
      }
      .bg>p{
        font-size: 12px;
        width: 80%;
      }
      .top,.bottom{
        left:190px;
      }
      .card>p{
        font-size: 12px;
     }
     h2{
      font-size: 16px;
     }
     .imageBox{
        height: 115px;
      }
    }

    @media screen and (max-width:570px) and (max-height:1306px){
      html,body,.bg{
        height: 1100px;
      }
      .container{
        max-width: 370px;
        height: 80%;

      }
      #simple,#bold{
        font-size: 24px;
      }
      .card{
        position: absolute;
        width: 80%;
        max-height: 160px;
      }
      .top,.bottom,.left,.right{
        left: 34px;
      }
      .left{
        top: 10px;
      }
      .top{
        top:220px;
      }
      .right{
        top: 430px;
      }
      .bottom{
        top: 640px;
      }
      .imageBox{
        height: 70px;
      }

    }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }